.loading {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    animation: dot-elastic 1s infinite linear;

    &:before,
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: #9880ff;
        border-radius: 10px;
    }

    &:before {
        left: -15px;
        animation: dot-elastic-before 1s infinite linear;
    }

    &:after {
        left: 15px;
        animation: dot-elastic-after 1s infinite linear;
    }
  }
}
