.giphy-container {
  max-height: calc(100vh - $spacing-sm);

  &__wrapper {
    height: 100%;
  }

  .mat-mdc-tab-group-dynamic-height .mat-mdc-tab-body-content {
    display: flex;
    flex-direction: column;
  }
}

.giphy-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  flex-grow: 1;

  &__wrapper {
    column-count: 6;
    column-width: 250px;
    column-gap: $spacing-sm;
  }

  &__item {
    display: block;
    padding: $spacing-xs 0;
  }
}

.giphy-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__image {
    width: 100%;
    height: auto;

    img {
      border-radius: 8px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.2s ease;
    opacity: 0;

    &-content {
      position: relative;
      padding: $spacing-sm;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:hover,
    &.selected {
      opacity: 1;
    }
  }
}

.giphy-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-sm;

  &__image {
    max-width: 100%;

    .image-loader {
      text-align: center;

      &__img {
        width: auto;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    padding: $spacing-sm;
    border: solid 1px $color-secondary;
    border-radius: 8px;

    &__item {
      display: flex;
      align-items: center;
      gap: $spacing-xxs;
    }
  }
}

.search-container {
  background-color: #f9f9f9;
  padding: $spacing-sm;
  display: flex;
  justify-content: center;
}
