<mat-tab-group (selectedTabChange)="onTabChanged($event)" class="giphy-container" dynamicHeight color="primary" backgroundColor="primary">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>trending_up</mat-icon>
      Trending
    </ng-template>
    <app-giphy-list (isLoadMore)="onLoadMore($event)" [giphyList]="giphyList$ | async" class="giphy-container__wrapper"></app-giphy-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>search</mat-icon>
      Search
    </ng-template>
    <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
    <app-giphy-list (isLoadMore)="onLoadMore($event)" [giphyList]="giphyList$ | async" class="giphy-container__wrapper"></app-giphy-list>
  </mat-tab>
</mat-tab-group>
