@keyframes dot-elastic-before {
  50% {
    transform: scale(1, 0.67);
  }
}

@keyframes dot-elastic {
  50% {
    transform: scale(1, 1.5);
  }
}

@keyframes dot-elastic-after {
  50% {
    transform: scale(1, 0.67);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}